.about-image {
    height: 95vh;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    /* margin-top: -80px; */
    position: relative;
    object-fit: cover;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.about-title {
    color: white;
    z-index: 2;
    font-size: 4rem;
    margin-top: 1rem;
    position: absolute;
    top: 425px;
}

.about-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .mission-statement p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .banner {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .our-mission, .our-story {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5%;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .mission-image, .story-image {
    width: 40%;
    max-width: 530px;
    margin-right: 20px;
    border-radius: 8px;
  }

  .mission-image {
    margin-right: 10rem;
  }

  .story-image {
    margin-left: 10rem;
  }

  .mission-content {
    width: 1000px;
  }

  .story-content {
    width: 1000px;
  }
  
  .story-content {
    margin-right: 20px;
  }
  
  .our-story {
    flex-direction: row;
    margin-top: -130px;
  }
  
  .our-mission h2, .our-story h2 {
    font-size: 2.75rem;
    margin-bottom: 30px;
  }
  
  .our-story p, .our-mission p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .thank-you {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 2.5rem;
  }
  

.about-text1 {
    font-size: 2rem;
    font-family: karla;
    padding: 0rem 10%;
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 4rem;
    font-style: italic;
    line-height: 2.5rem;
}

.about-text2 {
    padding: 2rem 5%;
    font-size: 1.2rem !important;
}