.cart {
    border-top: 1px solid black;
    padding: 4.5rem 7%;
}

.cart-heading {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 4.5rem;
    text-align: start !important;
}

.cart-content {
    padding: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 700;
    font-family: karla;
    display: grid;
    align-items: center;
    gap : 1rem;
    /* grid-template-columns: repeat(4fr,0.5fr,0.5fr); */
    grid-template-columns: 4fr 1fr 1fr;
}

.cart-content-inside {
    display: flex;
    align-items: start;
    gap : 1.25rem;
}

.cart-content-image {
    width: 7rem;
}

.cart-content-name {
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
    margin-top: 1rem;
}

.cart-content-price-size {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap : 1.25rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.cart-content-size {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid grey;
    background-color: rgba(208, 208, 208, 0.262);
}

.cart-content-quantity {
    border: 1px solid black;
    max-width: 5.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
}

.cart-content-bin {
    width: 1.8rem;
    margin-right: 1rem;
    cursor: pointer;
}

.cart-amount-container {
    display: flex;
    justify-content:  end;
    margin: 5rem 0;
}

.cart-amount {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}

.cart-payment-container {
    width: 100%;
    align-items: end;
    text-align: end;
}

.cart-payment-button {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin-right: 5rem;
    margin-top: -20px;
}

.cart-payment-button:active {
    background-color: grey;
}

@media (max-width: 640px) {
    .cart-content {
        grid-template-columns: 4fr 2fr 0.5fr;
    }

    .cart-content-image {
        width: 5rem;
    }

    .cart-content-name {
        font-size: 1.125rem;
    }

    .cart-content-size {
        padding: 0.25rem 0.75rem;
    }

    .cart-content-quantity {
        max-width: 5rem;
        padding: 0.25rem 0.5rem ;
    }

    .cart-content-bin {
        width: 1.25rem;
    }

    .cart-amount {
        width: 450px;
    }
}