
  .contact-form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto; 
    width: 100%;   
    padding: 40px 20px;
    box-sizing: border-box;
  }
  .location-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 480px; 
    padding: 20px;
    box-sizing: border-box; 
    margin: 20px 0; 
    margin-top: 5rem;
    margin-bottom: 7rem;

  }
  
  .location-icon {
    font-size: 50px; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  .location-map {
    width: 100%; 
    max-width: 800px; 
  }
  
  .location-map textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fafafa; 
    resize: none; 
    font-size: 16px; 
  }
  
  .location-map textarea:disabled {
    background-color: #e9ecef; 
  }
  


  .contact-form-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .contact-form {
    width: 100%;
    max-width: 1000px; 
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #eae8e8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .form-row input {
    width: 48%;
    padding: 25px; 
    font-size: 1rem;
    border: 1px solid #7a7979;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
  }
  
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
    font-size: 1rem;
    border: 1px solid #717171;
    border-radius: 5px;
    outline: none;
    resize: none;
    height: 150px;
    background-color: transparent; 
  }
  .button-container {
    display: flex; 
    justify-content: center; 
    width: 100%;
    margin-top: 10px; 
  }
  
  .contact-form button {

    padding: 20px 30px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 200px; 
    margin-top: 10px; 
   
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
    
    .form-row input {
      width: 100%; 
      margin-bottom: 15px; 
    }
  }
  

.contact-content {
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  border-top: 1px solid black;
  padding-top: 5rem;
}

.contact-items {
  display: flex;
  flex-direction: row;
}

.contact-items-icon {
    font-size: 2rem;
}

.contact-items-text1 {
  font-size: 1.5rem;
  max-width: 800px;
  text-align: center;
  font-family: karla;
  line-height: 2.2rem;
}

.contact-items-text2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: karla;
  margin-left: 1rem;
}

.contact-items-text3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: karla;
  margin-left: 1rem;
}

.title-main{
  display: flex;
  gap: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: -20px;
}

.title-p{
  font-weight: 500;
  color: rgb(118, 118, 118);
}

.title-span{
  margin-left: 0.8rem;
  font-weight: 600;
  color: black;
}

.title-line{
  width: 5rem;
  height: 1px;
  margin-top: 7px;
  color: black;
}

.title-main2{
  display: flex;
  gap: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: -20px;
  margin-bottom: 2.5rem;
}

#contact-button1 {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

#contact-button2 {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  cursor: pointer;
}

.add-image-list {
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.add-image {
  width: 130px;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5rem;
  padding-left: 7rem;
  justify-content: center;
  border: 1px solid black;
  gap:1rem;
}

.add-image-head {
  margin-bottom: 1rem;
}

.add-name-input {
  width: 100%;
  max-width: 500px;
  padding: 0.8rem 1.5rem;
  margin-top: 0.75rem;
}

.add-input-container {
  width: 100%;
}

.add-form-select {
  padding: 0.5rem 1rem;
  width: 100%;
}

.add-form-select-head {
  margin-bottom: 0.5rem;
}

.add-form-content {
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.add-form-mini-content {
  display: flex;
  flex-direction: row;
  gap:5rem;
}

.add-price-input {
  width: 100%;
  padding: 0.75rem 1.2rem;
  margin-top: 0.5rem;
  width: 75px;
}

.add-content2 {
  display: flex;
  flex-direction: row;
  gap:3rem;
  margin-top: 1rem;
}

.add-size {
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.add-size-p {
  background-color: rgb(235, 215, 201);
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  display: block;
  margin-top: 0.85rem;    
}

.add-size-click {
  border: 2px solid rgb(202, 110, 44);
  background-color: bisque;
}

.add-bestseller {
  display: flex;
  gap:0.5rem;
  flex-direction: row;
  margin-top: 0.5rem;
}

.form-add-button {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 25%;
  margin-left: 160px;
}

.form-add-button:hover {
  background-color: grey;
}