.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff; 
    border: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 1px solid grey;
    padding-left: 60px;
    padding-right: -90px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.login-email-icon {
    position: absolute;
    top:  20px;
    left: 500px;
    font-size: 2.2rem;
}

.login-password-icon {
    position: absolute;
    top: 20px;
    left : 500px;
    font-size: 2.2rem;
    cursor: pointer;
}

.login-image-container {
    margin-left: 5rem;
}

.login-image {
    width: 78%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    margin-right: -30px;
    margin-top: -20px;
}

.login-form-controls {
    position: relative;
    margin: 10px 0 30px;
    width: 190%;
}

.login-form-controls-email {
    position: relative !important;
    margin: 10px 0 30px !important;
    width: 190% !important;
}

.login-form-controls input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #000000 solid ;
    display: block;
    width: 100%;
    padding: 25px 0 10px;
    font-size: 1.35rem;
    color: #000000;
}

.login-form-controls-email {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2px #000000 solid !important;
    display: block !important;
    width: 100%  !important;
    padding: 25px 0 10px !important;
    font-size: 1.35rem !important;
    color: #000000 !important;
}

.login-form-controls input:focus,
.login-form-controls input:valid {
    outline: 0 !important;
    border-bottom-color: rgb(0, 0, 0) !important;
}



.login-form-controls label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.login-form-controls-email label {
    position: absolute !important;
    top: 15px !important;
    left: 0 !important;
    pointer-events: none !important;
}

.login-form-controls label span {
    display: inline-block !important;
    font-size: 1.5rem;
    min-width: 5px;
    color: #000000;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

.login-form-controls-email label span {
    display: inline-block !important;
    font-size: 1.5rem !important;
    min-width: 5px !important;
    color: #000000 !important;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

.login-form-controls input:focus + label span,
.login-form-controls input:valid + label span {
    color: rgb(0, 0, 0);
    transform: translateY(-30px) !important;
}

.login-form-controls-email input:focus + label span,
.login-form-controls-email input:valid + label span {
    color: rgb(0, 0, 0) !important;
    transform: translateY(-30px) !important;
}

.login-button {
    font-family: inherit;
    display: inline-block;
    width: 6em;
    position: absolute;
    left: 11rem;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid black;
    background-color: transparent;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    margin-top: 2.25rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
  }
  
  .login-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .login-button:hover {
    color: #fff;
  }
  
  .login-button:hover::before {
    top: -30px;
    left: -30px;
  }
  
  .login-button:active::before {
    background: #b6b5b5;
    transition: background 0s;
  }
  
.login-end-content-container {
    margin-left: 12rem;
    font-size: 1.2rem;
    margin-top: 0.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-forgot-password {
    position: absolute;
    right: 700px;
    font-size: 1.2rem;
    cursor: pointer;
}