.order {
    border-top: 1px solid black;
    padding-top: 4rem !important;
    padding: 0 7%;
    margin-bottom: 7.5rem;
}

.order-start {
    margin-bottom: 4rem;
}

.order-main {
    padding: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black; 
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: karla;
    flex-wrap: wrap;
}

.order-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.2rem;
    flex: 1;
    min-width: 300px;
}

.order-content-image {
    width: 120px;
    object-fit: cover;
    height: 7rem;
}

.order-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    color: grey;
    font-weight: 700;
}

.order-shipping {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    justify-content: flex-start;
    flex: 1;
    min-width: 200px;
}

.order-shipping-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: 500;
    white-space: nowrap;
}

.order-shipping-circle {
    min-width: 1rem; 
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(16, 194, 16);
}

.order-track {
    border: 1px solid rgb(179, 179, 179);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.125rem;
    font-family: mooli;
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

@media (max-width: 768px) {
    .order-main {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .order-content {
        width: 100%;
    }

    .order-content-image {
        width: 5rem;
    }

    .order-shipping {
        width: 100%;
        justify-content: flex-start;
    }

    .order-track {
        align-self: flex-start;
    }
}


.orders-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.order-item {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.order-items {
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.order-contents {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.order-main-contents {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    width: 130%;
}

.order-mini-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5rem;
    font-size: 1.3rem;
    color: grey;
}

.order-details {
    display: flex;
    align-items: center;
    gap:10rem;
}